!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Rate My Landlord
    %link{href: "style.css", rel: "stylesheet"}/
  %body
    #header-wrap
      %header.group
        %h2
          %a{href: "index.html", title: "burstudio"} Rate My Landlord
        %nav.group
          %ul
            %li.home
              %a{href: "#", title: ""} Home
            %li
              %a{href: "#", title: ""} Landlords
            %li.last
              %div
                %input{name: "search", placeholder: "search", type: "text"}/
                %input.search{name: "search", type: "submit", value: "go"}/
    / end header wrap
    %br/
    #container
      #header-image
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae volutpat dolor. Pellentesque ultrices rutrum gravida. Etiam et convallis magna. Praesent eu sapien lobortis, semper tortor ac, aliquet sem. Vivamus et congue ligula. Pellentesque at suscipit arcu. Sed sed erat a tortor varius tincidunt eget et libero. Nullam vitae lectus lobortis, consequat justo vitae, dignissim lacus.
      %p Praesent cursus faucibus odio sed porta. Vivamus faucibus ante sed massa pulvinar euismod. Donec id lacinia nibh, sit amet tristique lectus. Duis aliquet tincidunt justo vitae bibendum. Praesent tincidunt pharetra pellentesque. Vestibulum dictum mattis lacus, vel aliquet felis aliquam sit amet. Cras lobortis adipiscing felis, ut malesuada sapien posuere vitae. Proin elit velit, congue ut volutpat vel, ullamcorper quis sapien.
    %br/
    / ! end widget-wrap
    #widget-wrap.group
    %footer.group
