!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Rate My Landlord

    %link{href: "style.css", rel: "stylesheet"}/
    %link{href: "home.css", rel: "stylesheet"}/

  %body
    #header-wrap
      %header.group
        %h2
          %a{:href => "index.html", :title => "burstudio"} Rate My Landlord
        %nav.group
          %ul
            %li.home
              %a{:href => "#", :title => ""} Home
            %li
              %a{:href => "#", :title => ""} Landlords
            %li.last
                %input{:name => "search", :placeholder => "search", :type => "text"}/
                %input.search{:name => "search", :type => "submit", :value => "go"}/
    / end header wrap
    %br/
    #container
      #header-image 
      #welcome-text
        Welcome to the Official Binghamton University Rate My Landlord!
    %br/
    / ! end widget-wrap
    #widget-wrap.group
    %footer.group
