!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %link{href: "home.css", rel: "stylesheet"}/
  %body
    %br/
    #container
      #header-image 
      #welcome-text
        Welcome to the Official Binghamton University Rate My Landlord!
    %br/
    / ! end widget-wrap
    #widget-wrap.group
    %footer.group
