#container
  %h1= 'Edit About Page'
  = form_tag about_path, :method => :post do 
    = text_area :about, :text, :cols => 40, :rows => 15, :required => true, :value => @about_text
    %br
    = submit_tag 'Update'
#widget-wrap.group
%footer.group
