#container
  #about-wrap
    %h2= "About This Site"
    %p
      This is the official Rate my Landlord site for Binghamton University students.
      This site is run by both the Off Campus College and the Off Campus College Council.
      It is provided as a free tool for all Binghamton Students to make living off campus easier
      by giving students a chance to share their experiences with others.
      We feel this site will make moving off campus a more pleasant experience for students by allowing them to understand
      what their experience will be like.
    %p
      Your Binghamton email is required to write reviews. Login is done through Google so we never see your password. All reviews are completely anonymous - we will never disclose your name or any other information to anyone.
    %p
      If you have any questions, comments or concerns please feel free to fill out the contact form on the contact page as we are always willing to hear your feedback!
    %br
    %br
#widget-wrap.group
#footer.group
