#container
  #about-wrap  
    %h2= "Contact Us"
    %p
      Please feel free to contact us with any questions, comments, concerns, or suggestions
      at any of the emails listed below. Thank you
      %br
      %br
      Off Campus College Council: oc3@binghamtonsa.org
      %br
      Milton Chester, Assistant Dean, Off Campus College: mchester@binghamton.edu
      %br
      SA Webmaster: webmaster@binghamtonsa.org
      %br
      %br
      %br
#widget-wrap.group
#footer.group
