#noreview-image{
  background-image: url(noreview.png); 
  background-repeat: no-repeat; 
  display: block;
  background-position: top; 
  padding-top:68px;
  height:280px;
  position:relative;
}
#header-image{
	background-image: url(header.png); 
	background-repeat: no-repeat; 
	display: block;
	background-position: top; 
	padding-top:68px;
  height:280px;
  position:relative;
}
#welcome-text{
  position: absolute;
  color:white;
  margin-left:auto;
  margin-right:auto;
  padding-left:4em;  
  top:15em;
  font:bold 24px Helvetica, Sans-Serif;
  white-space: nowrap;
overflow: hidden;
}
