#landlords{
  width:80%;
  margin-left:auto;
  margin-right: auto;
}

table{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;

}

td,th{
  font-size:1.2em;
  border:1px solid #04B404;
  padding:3px 7px 2px 7px;
  text-align:center;
}

th{
  font-size:1.4em;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#509743;
  color:#fff;
}

tr{
  line-height:30px;
}

tr.alt td{
  color:#000;
  background-color:#C1E4B5;
}
a img.new-button{
  margin-left:600px;
}
td a:link{
  color:black;
  text-decoration:underline;
}
td a:hover{
    text-decoration:none;
}
td a:visited{
  color:black;
}
