#name{
	font-size:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	padding-bottom:5px;
}

#reviewslist{
	text-align:center;
	/*width:500px;*/
	margin: 0px auto;
}

#listelem{
	display: inline-block;
	width:115px;
	height:50px;
	color:#000000;
	text-align: center;
	vertical-align: middle;
	border:2px solid;
	border-radius:4px;
	border-color:white;
	font-size:20px;
}


#listelemnum{
	vertical-align:middle;
	font-size:30px;
}

#reviewstats{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	font-weight: bold;
	text-align:right;
	background:inherit;
	width:275px;
	/*padding-top:5px;
	padding-left:5px;*/
	border-bottom-width:0px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:2px;
	border-style:solid;
	border-color:#009933;
}

#reviewtitle{
	text-align: center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:20px;
	font-weight: bold;
	border-bottom-width:5px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-style:solid;
	border-color:#009933;
}

#review{
	/*margin:0px auto;
	clear:both;*/
}

.greyback{
	background:#C1E4B5;
}

.greenback{
	background:#2EB82E;
}

.yellowback{
	background:#FFFF66;
}

.redback{
	background:#FF3333;
}

tr{
	background:inherit;
	/*height:200px;*/
	border:inherit;
}

td{
	/*height:200px;*/
	border:inherit;
	padding-top: .5em;
   	padding-bottom: .5em;
}

#reviewnum{
	display:inline;
}

.opp{
	opacity:0.5;
}

#reviewsum{
	padding-left: 35px;
	background:inherit;
	font-size:18px;
	text-align:left;
	width:525px;
	word-wrap:break-word;
}

table{
	border-collapse: collapse;
}

#pagenums{
	text-align:center;
}
