#name{
	font-size:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	padding-bottom:5px;
}

#reviewslist{
	text-align:center;
	margin: 0px auto;

}

#listelem{
	display: inline-block;
	width:115px;
	height:52px;
	color:#000000;
	text-align: center;
	vertical-align: middle;
	border:2px solid;
	border-radius:4px;
	border-color:white;
	font-size:20px;
}


#listelemnum{
	vertical-align:middle;
	font-size:30px;
}

#reviewstats{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	font-weight: bold;
	text-align:right;
	background:inherit;
	width:275px;
	/*padding-top:5px;
	padding-left:5px;*/
	border-bottom-width:0px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:2px;
	border-style:solid;
	border-color:#009999;
}

#review{
	/*margin:0px auto;
	clear:both;*/
}

.greyback{
	background: #b0e0e0;
}

.greenback{
	background:#2EB82E;
}

.greenyellowback{
	background:#80FF00;
}

.yellowback{
	background:#FFFF66;
}

.redyellowback{
	background:#FF6600;
}

.redback{
	background:#FF3333;
}

tr{
	background:inherit;
	/*height:200px;*/
	border:inherit;
}

td{
	/*height:200px;*/
	border:inherit;
	padding-top: .5em;
   	padding-bottom: .5em;
	/*display: inline-block;*/
}

#reviewnum{
	border: 0px;
	display:inline;
}

.opp{
	opacity:0.5;
}

#reviewsum{
	border: 0px;
	padding-left: 35px;
	background:inherit;
	font-size:18px;
	text-align:left;
	width:525px;
	word-break: break-all;
	word-wrap: break-word;
}
#reviewdelete{
	border: 0px;
}

table{
	border-collapse: collapse;
}

#pagenums{
	letter-spacing:6px;
	font-size:18px;
	text-align:center;
}
