h1{
  font-size:30px;
  text-align:center;
}
hr{
  margin-bottom:20px;
  height:5px;
  color:#009999;
  background-color:#009999;

}
form{
  padding-left:10px;
  text-align:right;
}
.name{
  /*float:left;*/
}
h3{
  margin-top:30px;
  font-size:20px;
  margin-bottom:5px;
}

textarea{
  width:100%;
}

table{
  padding-top:10px;

}
table.rate td{
  border: 0px;
  vertical-align:middle;
}
.show_ratings{
	border-top:none;
	border-right:none;
}
