!!! 5
%html
  %head
    %title Rate My Landlord
    %meta{charset: "utf-8"}/
    %link{href: "style.css", rel: "stylesheet"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body 
    #header-wrap
      %header.group
        %h2
          %a{href: "/", title: "burstudio"} Rate My Landlord
        #login
          Bmail:
          %input{:type=>"text", :required => true}
          %br
          %br
          Password:
          %input{:type=>"password", :required => true}
          %br
          %br
          %input{:type => "Submit"}
        %nav.group
          %ul
            %li.home
              %a{href: "#", title: ""} Home
            %li
              %a{href: "#", title: ""} Landlords
            %li.last
              %div
                %input{name: "search", placeholder: "search", type: "text"}/
                %input.search{name: "search", type: "submit", value: "go"}/
    / end header wrap
    %br
    =yield

